{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="content__title btcf main_page">
   <div class="container">
      <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
         Надежное сельскохозяйственное предприятие        
      </h1>
      <div class="border-top">
         <div class="text__wrap btcf text-hide">
            <div class="text__wrap_item" style="width: 100% !important">
               <p> <a href="{% static 'img/13.jpg' %}"><img class="alignleft wp-image-698 size-full" src="{% static 'img/13.jpg' %}" alt="Сельскохозяйственное производственное предприятие" width="450" height="303" /></a>Наша компания работает на рынке с 2005 года. Основной вид деятельности — обеспечение сельскохозяйственных предприятий  семенами с/х культур. Кроме того: зерном, кормами и кормовыми добавками, минеральными удобрениями и химическими средствами защиты растений на всей территории России.
                  Поставка продукции может производиться железнодорожным или автотранспортом, через транспортно-экспедиторские компании, непосредственно в хозяйства и торговые сети в любые регионы России.
                  Наша компания пользуется репутацией надежного партнера, завоевавшего доверие производителей и потребителей.
                  Виды поставляемой продукции
                  Мы обеспечиваем сельскохозяйственные предприятия следующими видами продукции:
                  Семена основных с/х культур: ячмень, кукуруза, пшеница, рожь, овес, тритикале, рапс, горчица (белая, желтая), гречиха, подсолнечник, вика, горох посевной, горох полевой (пелюшка), клевер красный (луговой), клевер белый (ползучий), клевер розовый гибридный, козлятник, люцерна изменчивая, лядвенец рогатый, райграс однолетний, райграс пастбищный, суданская трава, тимофеевка луговая, овсяница луговая, мятлик луговой, ежа сборная, фестулолиум, эспарцет, кострец безостый, амарант, кормовые и газонные травосмеси и др.
                  Корма и кормовые добавки: жмых ‑ подсолнечный, кукурузный, соевый, рапсовый; шрот ‑ подсолнечный, соевый, рапсовый; патока (меласса) свекловичная, жом, отруби пшеничные, мел, соль, фуражное зерно (пшеница, кукуруза, ячмень, овес), комбикорма, зерно- и кормосмеси, моно- и трикальцийфосфат и др.
                  Минеральные удобрения: карбамид (мочевина), селитра аммиачная, сульфат аммония, калий хлористый, удобрение типа «Калимаг», аммофос, диаммоний фосфат, диаммофоска, суперфосфат и др.
                  Средства защиты растений: гербициды, фунгициды, инсектициды, фумиганты, протравители и др.
            </div>
         </div>
         <div class=" text-hide-button">Показать/скрыть полный текст</div>
      </div>
   </div>
</div>
<div class="container wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
   <h1>Наши клиенты</h1>
   <div class="border-top">
      <div class="partners__wrapper">
        {% for client in clients %}
          <a href="{{client.url}}" class="partner_item"><img src="{{MEDIA_URL}}{{client.logo}}" alt="MPZ"></a>
        {% endfor %}
      </div>
   </div>
</div>
{% endblock %}