{% extends 'loyalt.html' %}
{% load staticfiles %}
{% block content %}

<div class="banner" style="background-image: url({% static 'img/baner.jpg' %})"></div>
<div class="content__title btcf">
   <div class="container">
      <ol class="breadcrump">
         <li><a href="">Главная</a></li>
         <li class="active">Реализация семян</li>
      </ol>
      <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
         Реализация семян   
      </h1>
   </div>
</div>
<div class="container">
   <div class="product-table__wrapper wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
   <h3>Семена</h3>
   <table>
         <thead>
            <tr>
               <th>Категория</th>
               <th>Прайс</th>
            </tr>
         </thead>
         {% for category in categories %}
         <tbody>
            <tr>
               <td style="width: 30%;"><a href="{% url 'semena_category' id=category.id %}"" class="btn js-scroll">{{category.name}}</a></td>
               <td><a href="{{MEDIA_URL}}{{category.price}}" class="btn js-scroll">Скачать прайс</a></td>
            </tr>
         </tbody>
         {% endfor %}
      </table>
   </div>
</div>
<div class="comment__wrapper" id="enquiryBlock">
</div>


{% endblock %}
