{% extends 'loyalt.html' %}

{% block content %}
	
<div class="banner" style="background-image: url({{MEDIA_URL}}{{category.image}})"></div>
<div class="content__title btcf">
   <div class="container">
      <ol class="breadcrump">
         <li><a href="">Главная</a></li>
         <li class="active">Закупка семян</li>
      </ol>
      <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
         Реализация семян   
      </h1>
   </div>
</div>
<div class="container">
   <div class="product-table__wrapper wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
      <h3>{{category.name}}</h3>
      <table>
         <thead>
            <tr>
               <th>Наименование товара</th>
               <th>Описание товара</th>
               <th>Сорт</th>
               <th>Цена</th>
               <th>Связаться</th>
            </tr>
         </thead>
         {% for product in products %}
         <tbody>
            <tr>
               <td style="width: 30%;"><a href="">{{products.name}}</a></td>
               <td><a href="">Скачать прайс</a></td>
               <td></td>
               <td>от  руб/т</td>
               <td><a href="#enquiryBlock" class="btn js-scroll">Связаться</a></td>
            </tr>
         </tbody>
         {% endfor %}
      </table>
   </div>
</div>
<div class="comment__wrapper" id="enquiryBlock">

</div>


{% endblock %}
